<p id="notice"><%= notice %></p>

<h5>交易流程</h5>

<table  class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th >Transaction flow id</th>
      <th>Business flow name(id)</th>
      <th>Transaction unit(id)</th>
      <th>Transaction type</th>
      <th>Flow order id</th>
      <th>Flow type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactionflows.each do |transactionflow| %>
      <tr>
        <td><%= link_to transactionflow.id, transactionflow %></td>
        <td><%= transactionflow.businessflow.name %></td>
        <td><%= transactionflow.transactionunit.name %></td>
        <td><%= transactionflow.transactiontype %></td>
        <td><%= transactionflow.floworderid %></td>
        <td><%= transactionflow.flowtype %></td>
        <!-- <td><%= link_to 'Show', transactionflow %></td>
        <td><%= link_to 'Edit', edit_transactionflow_path(transactionflow) %></td> -->
        <td><%= link_to 'Destroy', transactionflow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transactionflow', new_transactionflow_path %>
