<p id="notice"><%= notice %></p>

<h5>活动</h5>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>序</th>
      <th>类型</th>
      <th>交易方</th>
      <th>状态</th>
      <th>备注</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>


    <%  @actives.each do |active| %>
      <tr>
        <td><%= link_to active.id, active %></td>
        <td><%= active.activeflow.activeunit.name %></td>
        <td><%= active.resource.name %></td>
        <td><%= active.status %></td>
        <td><%= active.remarks %></td>
        <td><%= active.resourceslines.count %></td>
        <td><%= active.sum_price_total %></td>
        <td><%= active.sum_openqty_total %></td>
        <!-- <td><%= link_to 'Show', active %></td>
        <td><%= link_to 'Edit', edit_active_path(active) %></td> -->
        <td><%= link_to 'Destroy', active, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Active', new_active_path %>
