<p id="notice"><%= notice %></p>

<h5>商务流程</h5>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Business flow id</th>
      <th>Business unit(id)</th>
      <th>Code</th>
      <th>Name</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businessflows.each do |businessflow| %>
      <tr>
        <td><%= link_to businessflow.id, businessflow %></td>
        <td><%= businessflow.businessunit.name %></td>
        <td><%= businessflow.code %></td>
        <td><%= businessflow.name %></td>
        <td><%= businessflow.remarks %></td>
        <!-- <td><%= link_to 'Show', businessflow %></td>
        <td><%= link_to 'Edit', edit_businessflow_path(businessflow) %></td> -->
        <td><%= link_to 'Destroy', businessflow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Businessflow', new_businessflow_path %>
