<p id="notice"><%= notice %></p>



<p>
  <strong>Code:</strong>
  <%= @transactionunit.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transactionunit.name %>
</p>



<%= link_to 'Edit', edit_transactionunit_path(@transactionunit) %> |
<%= link_to 'Back', transactionunits_path %>
