a<%= form_for(@resource) do |form| %>


  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :resource_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :resource_name %>
  </div>

  <div class="field">
    <%= form.label :resourcetype %>
    <%= form.select :resourcetype, Resource.resourcetypes.keys,
                  prompt: "select a type" %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
